.loader {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(166, 151, 185, 0);
}

.loader::after {
  content: "";
  top: -23px;
  position: absolute;
  left: -29px;
  right: 0;
  z-index: -1;
  height: 108%;
  width: 108%;
  transform: scale(0.95) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
  background-size: 200% 200%;
  -webkit-animation: animateGlow 2.25s linear infinite;
  animation: animateGlow 2.25s linear infinite;
}

body {
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  background: linear-gradient(315deg, rgb(44, 24, 91) 3%, rgb(38, 32, 82) 38%, rgb(42, 26, 73) 68%, rgb(48, 17, 68) 98%);
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background: rgba(3, 3, 3, 0.12);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 10em;
  -webkit-animation: wave 10s -3s linear infinite;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@-webkit-keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
#title {
  color: whitesmoke;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  height: 6vh;
  line-height: 6vh;
  font-weight: bold;
  font-size: 2.2em;
  border-radius: 20px;
}

.menu {
  color: whitesmoke;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  height: 6vh;
  line-height: 6vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: 1.8em;
}

.left {
  border-radius: 0 0 0 20px;
}

.right {
  border-radius: 0 0 20px 0;
}

.focus {
  background-color: rgb(0, 0, 0);
}

.settingsBox {
  background-color: rgba(255, 255, 255, 0.08);
  margin-top: 15vh;
  height: 60vh;
  min-height: 500px;
  border-radius: 20px;
  border: 1px solid rgba(245, 245, 245, 0.24);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.23);
}

.radioArea {
  margin-top: 10px;
}

.radioGenre {
  position: relative;
  text-align: center;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
}

.focus1 {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.5);
}

.focus1::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
  background-size: 200% 200%;
  -webkit-animation: animateGlow 2.25s linear infinite;
  animation: animateGlow 2.25s linear infinite;
}

.radioButton {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radioButtonTxt {
  color: whitesmoke;
  font-size: 1.4em;
  line-height: 40px;
  font-family: "Courier New", Courier, monospace;
}

#selectButton {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  font-size: 1.4em;
  margin-top: 15%;
  border: none;
  border-radius: 20px;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
}

#selectButton::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(to left, #ff5770, #e4428d, #c42da8, #9e16c3, #6501de, #9e16c3, #c42da8, #e4428d, #ff5770);
  background-size: 200% 200%;
  -webkit-animation: animateGlow 2.25s linear infinite;
  animation: animateGlow 2.25s linear infinite;
}

@-webkit-keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.reslutBox {
  background-color: rgba(255, 255, 255, 0.08);
  margin-top: 15vh;
  height: 60vh;
  min-height: 500px;
  border-radius: 20px;
  border: 1px solid rgba(245, 245, 245, 0.24);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.23);
  padding: 0;
}

.chooseGenre {
  text-decoration: none;
  margin-top: 30px;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#filmName {
  text-decoration: none;
  margin-top: 30px;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.boxImgFilm {
  width: 35%;
  margin-top: 4vh;
  border: none;
}

#imgFilm {
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  opacity: 1;
}

@media (max-width: 576px) {
  #title {
    margin: 15px 0;
  }
  .settingsBox {
    background-color: rgba(255, 255, 255, 0.08);
    margin-top: 15vh;
    height: 60vh;
    min-height: 500px;
    border-radius: 20px;
    border: 1px solid rgba(245, 245, 245, 0.24);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.23);
    height: 100%;
  }
  #selectButton {
    margin-bottom: 5vh;
    height: 60px;
  }
  .radioGenre {
    height: 60px;
    line-height: 60px;
    width: 80%;
    margin: 20px auto;
  }
  .reslutBox {
    margin-bottom: 10vh;
  }
  .radioButtonTxt {
    font-size: 1.2em;
  }
  .boxImgFilm {
    width: 60%;
    margin: 30px auto 0 auto;
  }
  .left {
    border-radius: 20px 20px 0 0;
  }
  .right {
    border-radius: 0 0 20px 20px;
  }
}
@media (max-width: 768px) {
  #title {
    margin: 15px 0;
  }
  .settingsBox {
    background-color: rgba(255, 255, 255, 0.08);
    margin-top: 15vh;
    height: 60vh;
    min-height: 500px;
    border-radius: 20px;
    border: 1px solid rgba(245, 245, 245, 0.24);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.23);
    height: 100%;
  }
  #selectButton {
    margin-bottom: 5vh;
    height: 60px;
  }
  .radioGenre {
    height: 60px;
    line-height: 60px;
    width: 80%;
    margin: 20px auto;
  }
  .reslutBox {
    margin-bottom: 10vh;
  }
  .radioButtonTxt {
    font-size: 1.2em;
  }
  .boxImgFilm {
    width: 45%;
    margin: 30px auto 0 auto;
  }
  .left {
    border-radius: 20px 20px 0 0;
  }
  .right {
    border-radius: 0 0 20px 20px;
  }
}
@media (min-width: 768px) and (max-width: 1112px) {
  .boxImgFilm {
    margin-top: 70px;
    width: 35%;
  }
  .radioButtonTxt {
    font-size: 1em;
  }
  .chooseGenre {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=main.css.map */