body{
    font-family: Tahoma, SansSerif;
    line-height: 1.5;
    color: #333;
}
.section{
    padding: 30px 0;
}
.header{
    margin: 60px auto;
    font-size: 20px;
}
.header span{
    display: block;
    line-height: 2;
}
.form{
    border: 5px solid #2727d9;
    padding: 30px 20px;
    height: 315px;
}
.form-header, .section-header{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.form-input{
    margin-bottom: 12px;
}
.form-btn{
    margin: 30px auto;
    background-color: #2727d9;
}
.feature{
    margin: 40px auto;
}
.feature-box{
    height: 150px;
}
.feature p {
    margin-top: 20px;
}
.video{
    margin-bottom: 30px;
}

.feature-btn{
    margin: 12px auto;
    background-color: #2727d9;
}